/**
 * This file is used to define the HeaderPage style.
 * This file must be imported into parent scss file, to take it effect.
 * like : @import './page-header/page-header.scss';
*/
.header-page {
  &__wrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
  }
}
