/**
 * This file is used to define the ListPage style.
 * This file must be imported into parent scss file, to take it effect.
 * like : @import './list/list.scss';
*/
.token-list {
  &-item {
    &__title {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      > span.token-balance {
        font-size: 1.05rem;
        color: $primary-color;
        &::before {
          content: 'balance:';
          padding-right: 4px;
          font-size: 0.5rem;
          color: rgba($primary-color, 0.75);
        }
      }
    }
    &__desc {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }
}
