/* Layout Style */
@import './first-setup/index.scss';
@import './home/index.scss';
@import './page-layout/index.scss';
@import './header/index.scss';
@import './footer/index.scss';

@import './selectors//network-selector/network-selector.scss';

@import './signin/signin.scss';
@import './error/error.scss';

@import './unlock/unlock-pagge.scss';

@import './address/list-view/address-list.scss';
@import './contacts/contacts.scss';
@import './profile/profile.scss';

@import './transactions/transactions.scss';
@import './digital-assets/list/list.scss';

/* Popup Global CSS will override sub modules Style */

/* extension antd css */

.ant-divider-horizontal.brave-divider {
  margin: 4px 0;
}

label.brave-label {
  font-size: 1rem;
  text-align: justify;
  align-self: flex-end;
  &.small {
    font-size: 0.75rem;
    font-weight: 200;
  }
}

.brave-label-col {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  padding-right: 12px;
}
