/**
 * This file is used to define the AddressPage style.
 * This file must be imported into parent scss file, to take it effect.
 * like : @import './keyring-address/keyring-address.scss';
*/
.address-page {
  &__wrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
  }
}
