/**
 * This file is used to define the FoundPage style.
 * This file must be imported into parent scss file, to take it effect.
 * like : @import './not-found/not-found.scss';
*/
.found-page {
  &__wrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
  }
}
