/**
 * This file is used to define the LabelPage style.
 * This file must be imported into parent scss file, to take it effect.
 * like : @import './address-label/address-label.scss';
*/
.label-page {
  &__wrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
  }
}
