span.anticon[role='img'] {
  .brave-icon:hover {
    transform: rotate(45deg);
  }

  &.brave-spin:not(.ant-menu-item-icon) {
    .brave-icon {
      -webkit-animation: brave-rotate 3.6s infinite linear;
      -moz-animation: brave-rotate 3.6s infinite linear;
      -o-animation: brave-rotate 3.6s infinite linear;
      animation: brave-rotate 3.6s infinite linear;
    }
  }
}

@-webkit-keyframes brave-rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes brave-rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes brave-rotate {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes brave-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
